.chapter-menu-popup.adm-popup-body.adm-popup-body-position-left {
  width: 70vw !important;
  top: env(safe-area-inset-top) !important;
  top: constant(safe-area-inset-top) !important;
  height: 100vhd;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.chapter-menu-popup__bottom-spacer {
  height: env(safe-area-inset-bottom);
  height: constant(safe-area-inset-bottom);
  flex-shrink: 0;
}
