*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 禁止文字被選取 */
* {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* 舊版 Edge */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  /* 確保內容不會被 iPhone 的瀏海或底部的 Home Bar 擋住 */

  /* 為了讓背景顏色延伸到狀態欄，背景色要設在 body 或 html 上 */
  background-color: #f7f7f7;
}